.ban-container
{
     
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:antiquewhite;
    background-position: center;
    background-size: cover;
   gap:50px;

    
}
.ban-img
{
   width:400px;
   padding-bottom: 0px;
   
}
.ban-text
{
    font-size:18px;
}
.title
{
    font-size: 50px;
    font-weight: bold;
}
.btn{
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color:red;
    color: white;
    width: 120px;
    height: 50px;
}
.feature-text
{
    align-items: center;
}
.textonefigs
{
    display: flex;
    justify-content: space-around;
    padding: 100px;
    border-radius: 50% 50% 0 0;
}
.figs1
{
    background-color:rgb(245, 220, 224);
    border-radius:;
}
.figs2
{
    background-color: rgb(212, 241, 232);
}
.figs3
{
    background-color:rgb(193, 243, 193);
}
.pink
{
    text-align: center;
}
.foot
{
    background-color: black;
    color: white;
    text-align: center;
}
.flow
{
    color: red;
}
.foot-text
{
    margin-top: ;
    text-align: center;
}
.bonus
{
    display: flex;
    justify-content: center;
    gap:100px;
    background-color: antiquewhite;
    text-align: center;
    align-items: center;

}
.textsec
{
    text-align: center;
}
.box
{
    display: flex;
    justify-content: space-around;
    gap:20px;
    justify-content: center;
}
.text-bonus
{
    align-items: center;
}
.lastimage
{
    background-image: url('');
}
